@import './custom-variables';

.background-banner {
    background-color: rgb(26, 39,	47);
}

.text-style-banner {
    padding: .7rem;
    margin: 0;
    color: var(--text-color-secondary);
    font-weight: 200;
    font-size: .9rem;
    
    a {
        color: var(--text-color-secondary);
        text-decoration: none;
    }
}