.background-logo-section {
    background-color: var(--co-primary-color);
}

ul {
    padding: 5rem 4rem;
    margin: 0;
    list-style: none;
    justify-content: space-evenly;

    li {
        height: 1rem;
        align-self: center;
    }
    img {
        cursor: pointer;
        opacity: .4;
        height: 100%;
        &:hover {
            opacity: 1;
        }
    }
}