@import './custom-variables';

.background-the-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("~/src/assets/img/jumbo.jpg");
    background-size: cover;

}

.position-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(14, 14, 18);
    z-index: 999;
}

/* navbar section */
.navbar-row {
    padding-top: .5rem;
    padding-bottom: .5rem;
    transition: .5s;

    #logo-start {
        color: var(--primary-color);
        background-color: rgba(34, 111, 111, 0.378);
        padding-left: 1.3rem;
        padding-top: .3rem;
        padding-bottom: .3rem;
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;
    }

    #logo-end {
        color: var(--text-color-secondary);
        background-color: transparent;
        padding-left: .2rem;
    }

    span {
        font-weight: 600;
        font-size: 1rem;
        text-transform: uppercase;
    }

    ul {
        list-style: none;
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 400;
        margin: 0;
        align-items: center;

        a {
            text-decoration: none;
            color: white;
            transition: color .1s ease-in-out;
            &:hover {
                color: var(--primary-color);
            }
        }
        button {
            font-size: .8rem;
            font-weight: 400;
            color: white;
            text-transform: uppercase;
        }
    }

}

/* content section */

.container-row {
    .text-row {
        padding-left: 10rem;
        padding-right: 7rem;
        padding-top: 8rem;
        padding-bottom: 8rem; 

        h1 {
            color: white;
            font-weight: 900;
            font-size: 4rem;
            width: 90%;
            .stylized-main-text{
                position: relative;
                z-index: 1;
            }
            .stylized-main-text::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: .7rem;
                height: 35%;
                width: 100%;
                opacity: .7;
                background-color: var(--primary-color);
                z-index: -1;
            }
        }

        p {
            width: 75%;
            font-weight: 400;
        }
        
    }
}